<div class="page" style="height:100vh;display:flex;align-items:center;justify-content:center;flex-direction:column;">
  <div style="width:275px;">
    <div class="title" style="color:white;margin:10px;">Reset Password</div>
    <mat-form-field style="width:100%;">
      <input
        matInput
        placeholder="New Password"
        type="password"
        [(ngModel)]="password"
      >
    </mat-form-field>

    <mat-form-field style="width:100%;">
      <input
        matInput
        placeholder="Confirm New Password"
        type="password"
        [(ngModel)]="confirmPassword"
      >
    </mat-form-field>
    <div style="display:flex;justify-content:center;">
      <button (click)="resetPassword()" mat-raised-button style="background-color:white;color:#667C89;margin:5px;font-family:'Raleway';" >
        Submit
      </button>
    </div>
  </div>
</div>
