/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 !important;
  font-family: 'Raleway', sans-serif;
  font-weight: 200 !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
}

@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
