

<div id="sheet5" [class]="'sheet ' + (sheet5.shouldBeHidden || demo.shouldBeHidden ? '' : '')">
  <div class="center sheet-content">
    <div class="title">Store Shapes for Future Use</div>
  </div>
</div>

<div id="sheet4" [class]="'sheet ' + (sheet4.shouldBeHidden ? 'offScreen' : '')">
  <div class="center sheet-content">
    <div class="title">Snapping with Guide Lines</div>
  </div>
</div>

<div id="sheet3" [class]="'sheet ' + (sheet3.shouldBeHidden ? 'offScreen' : '')">
  <div class="center sheet-content">
    <div class="title">Multiselection</div>
  </div>
</div>

<div id="sheet2"
[class]="'sheet ' + (sheet2.shouldBeHidden ? 'offScreen' : '')">
  <div class="center sheet-content">
    <div class="title">Shape Customization</div>
  </div>
</div>

<div id="sheet1"
[class]="'sheet ' + (sheet1.shouldBeHidden ? 'offScreen' : '')">
  <div class="center sheet-content">
    <div class="title">Predefined Shapes</div>
  </div>
</div>


<div id="phone-container" [class]="(phoneContainer.shouldCoverPage ? 'coverPage' : '') + ' ' + (demo.shouldBeHidden ? '' : '')">
  <div id="phone" class="center">
    <div style="background:#ECE7ED;width:320px;height:426px;" *ngIf="!sup1.finishedLoading">
      <div style="display:flex;align-items:center;justify-content:center;flex-direction:column;height:100%;" class="fade-in">
        <span>Iconik Studio</span>
        <img height="50" style="margin:20px;" src="./assets/images/logo.svg"/>
        <mat-progress-spinner [diameter]="25" mode="determinate" [value]="progress"></mat-progress-spinner>
      </div>
    </div>
    <!-- This lines a bit wacky. Wanted to transition on opacity, but remove from web flow -->
    <div class="" [style.opacity]="sup1.finishedLoading ? 1 : 0" [style.position]="!sup1.finishedLoading ? 'absolute' : ''">
      <img #myGif id="myGif" src="./assets/images/loader.gif" rel:animated_src="assets/images/website_demo1.gif" rel:auto_play="0" width="320" height="427" />
    </div>
  </div>
</div>

<div #scroller (scroll)="onScroll($event)" id="scroller-container">
  <div #scrollerContent>
    <div [style.height]="sup1.finishedLoading ? '4000px' : '100vh'" id="scroller">
    </div>
    <div *ngIf="sup1.finishedLoading" style="height:100vh;min-height: 750px;background:#CF9893;display:flex;flex-direction:column;" [style.z-index]="demo.shouldBeHidden ? 1 : -1">
      <div class="center" style="flex:1;background:#E9EBEB;flex-direction:column;">
        <div class="title" style="font-size: 38px;">Iconik Studio</div>
        <div style="margin:8px;">Powerfully Simple Design</div>
        <img height="100" style="margin:20px;" src="./assets/images/logo.svg"/>
        <div style="display:flex;">
          <a href="https://itunes.apple.com/us/app/iconik-studio-icon-designer/id1332388677?ls=1&mt=8" target="_blank">
            <button mat-raised-button style="background-color:#465C69;color:white;margin:5px;font-family:'Raleway';" >
              iOS
            </button>
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.iconikstudioapp.iconikstudio" target="_blank">
            <button mat-raised-button style="background-color:#465C69;color:white;margin:5px;font-family:'Raleway';" >
              Android
            </button>
          </a>
        </div>
      </div>
      <div class="screenshots-container">
        <button mat-mini-fab style="position:absolute;bottom:150px;right:5px;background-color:black;color:white;" (click)="carouselNext()" *ngIf="showCarouselButtons">></button>
        <button mat-mini-fab style="position:absolute;bottom:150px;left:5px;background-color:black;color:white;" (click)="carouselPrev()" *ngIf="showCarouselButtons"><</button>
        <div class="screenshot-container">
          <div class="screenshot-text">
            <span>Icons</span>
          </div>
          <img style="height:auto;width:220px;border:1px solid rgba(255,255,255,.3);" src="./assets/images/screenshot3.png"/>
        </div>
        <div class="screenshot-container">
          <div class="screenshot-text">
            <span>Logos</span>
          </div>
          <img style="height:auto;width:220px;border:1px solid rgba(255,255,255,.3);" src="./assets/images/screenshot1.png"/>
        </div>
        <div class="screenshot-container" [style.margin-right]="carouselPosition*488 + 'px'">
          <div class="screenshot-text">
            <span>Mockups</span>
          </div>
          <img style="height:auto;width:220px;border:1px solid rgba(255,255,255,.3);" src="./assets/images/screenshot2.png"/>
        </div>
      </div>
    </div>
  </div>
</div>

<div [hidden]="demo.shouldBeHidden" style="font-size:.8em;">
  <div id="play-pause" *ngIf="sup1.finishedLoading" (click)="autoScroller ? stopScroll() : startScroll()">{{autoScroller ? 'PAUSE' : 'PLAY'}}</div>
  <div id="play-pause" *ngIf="!sup1.finishedLoading" >Please Wait...</div>
</div>
