
* {
  box-sizing: border-box;
}

#phone-container {
  height:100%;
  min-height:600px;
  background: #CF9893;
  position:fixed;
  width:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  right:0;
  top:0;
  transition: all .75s ease-in-out 0s;
}

#phone {
  position:relative;
  height:500px;
  min-height:500px;
  width:350px;
  background:black;
  border-radius:12px;
}

.sheet {
  height:100vh;
  min-height:400px;
  background:#364652;
  position:fixed;
  width:calc(100% - 50%);
  top:0;
  transition: all 1.25s ease-in-out 0s;
  overflow:auto;
}

#sheet1 {
  background: #364652;
}
#sheet2 {
  background: #465C69;
}
#sheet3 {
  background: #566C79;
}
#sheet4 {
  background: #667C89;
}
#sheet5 {
  background: #768C99;
  transition: all .75s ease-in-out 0s;
}

.sheet-content {
  color: white;
}

.title {
  text-align: center;
  font-weight: 200 !important;
  font-size: 32px;
}

#scroller-container {
  position: relative;
  height: 100vh;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

#scroller {
  position: relative;
  /* height: 3985px; */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.offScreen {
  top: -200vh !important;
}

.coverPage {
  width: 100% !important;
  height: 100%;
}

#play-pause {
  text-align: center;
  width: 100px;
  position: fixed;
  left: 50%;
  margin-left: -55px;
  padding: 5px;
  bottom: 10px;
  color: #364652;
  background: rgba(255,255,255, .6);
  border: 1px solid white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#play-pause:hover {
  background: rgba(255,255,255, 1);
}

.fade-in {
    -webkit-animation: fadein 2.3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2.3s; /* Firefox < 16 */
        -ms-animation: fadein 2.3s; /* Internet Explorer */
         -o-animation: fadein 2.3s; /* Opera < 12.1 */
            animation: fadein 2.3s;
}

@keyframes fadein {
    0% { opacity: 0; }
    50%   { opacity: 0; }
    100%   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  0% { opacity: 0; }
  50%   { opacity: 0; }
  100%   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0% { opacity: 0; }
  50%   { opacity: 0; }
  100%   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  0% { opacity: 0; }
  50%   { opacity: 0; }
  100%   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  0% { opacity: 0; }
  50%   { opacity: 0; }
  100%   { opacity: 1; }
}

.screenshot-container {
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:10px;
  margin-left:0;margin-right:0;transition:all 1s;
  /* background:black; */
}

.screenshots-container {
  height:374px;display:flex;justify-content:center;position:relative;background:#465C69;
}

.screenshot-text {
  color:white;text-align:center;height:35px;display:flex;align-items:center;justify-content:center;
  border:1px solid rgba(255,255,255,.3);
  border-bottom: none;
}
